@charset "UTF-8";
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body, html {
  height: 100%;
}
body {
  position: relative;
  margin: 0 auto;
  max-width: 640px;
  font-size: 14px;
  font-family: "Microsoft YaHei", "SimSun";
}
header, footer {
  max-width: 640px;
}
a {
  color: #337ab7;
  background-color: transparent;
  cursor: auto;
}
a:link,
a:hover,
a:active {
  text-decoration: none;
}
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.bg-primary {
  background-color: #4bbbfa !important;
}
.color-primary {
  color: #4bbbfa !important;
}
.color-warning {
  color: #ff8a0c !important;
}
.color-success {
  color: #70d445 !important;
}
.color-info {
  color: #2db7f5 !important;
}
.color-danger {
  color: #e83d2c !important;
}
.color-yellow {
  color: #fbc02d !important;
}
.gray-darker {
  color: #313131 !important;
}
.gray-dark {
  color: #616161 !important;
}
.color-gray {
  color: #919191 !important;
}
.gray-medium {
  color: #c1c1c1 !important;
}
.gray-light {
  color: #e1e1e1 !important;
}
.gray-lighter {
  color: #f5f5f5 !important;
}
.width-input {
  display: inline-block !important;
  margin-right: 6px;
  width: 150px;
}
.width-input-mini {
  width: 50px;
}
.width-input-small {
  width: 100px;
}
.width-input-large {
  width: 200px;
}
.width-input-xlarge {
  width: 300px;
}
.width-full {
  width: 100% !important;
}
.width-100 {
  width: 100% !important;
}
.width-90 {
  width: 90% !important;
}
.width-80 {
  width: 80% !important;
}
.width-70 {
  width: 70% !important;
}
.width-60 {
  width: 60% !important;
}
.width-half {
  width: 50% !important;
}
.width-50 {
  width: 50% !important;
}
.width-40 {
  width: 40% !important;
}
.width-30 {
  width: 30% !important;
}
.width-20 {
  width: 20% !important;
}
.width-10 {
  width: 10% !important;
}
.width-half {
  width: 50% !important;
}
.mts {
  margin-top: 5px !important;
}
.mtm {
  margin-top: 10px !important;
}
.mtl {
  margin-top: 20px !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mts-o {
  margin-top: -5px !important;
}
.mtm-o {
  margin-top: -10px !important;
}
.mt15-o {
  margin-top: -15px !important;
}
.mtl-o {
  margin-top: -20px !important;
}
.mrs {
  margin-right: 5px !important;
}
.mrm {
  margin-right: 10px !important;
}
.mrl {
  margin-right: 20px !important;
}
.mbs {
   margin-bottom: 5px !important;
}
.mbm {
  margin-bottom: 10px !important;
}
.mbl {
  margin-bottom: 20px !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mbs-o {
  margin-bottom: -5px !important;
}
.mbm-o {
  margin-bottom: -10px !important;
}
.mb15-o {
  margin-bottom: -15px !important;
}
.mbl-o {
  margin-bottom: -20px !important;
}
.mls {
  margin-left: 5px !important;
}
.mlm {
  margin-left: 10px !important;
}
.mll {
  margin-left: 20px !important;
}
.mhs {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.mhm {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.mhl {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.mvs {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.mvm {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.mvl {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.pts {
  padding-top: 5px !important;
}
.ptm {
  padding-top: 10px !important;
}
.ptl {
  padding-top: 20px !important;
}
.prs {
  padding-right: 5px !important;
}
.prm {
  padding-right: 10px !important;
}
.prl {
  padding-right: 20px !important;
}
.pbs {
  padding-bottom: 5px !important;
}
.pbm {
  padding-bottom: 10px !important;
}
.pbl {
  padding-bottom: 20px !important;
}
.pls {
  padding-left: 5px !important;
}
.plm {
  padding-left: 10px !important;
}
.pll {
  padding-left: 20px !important;
}
.phs {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.phm {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.phl {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.pvs {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.pvm {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.pvl {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.mrs-o {
  margin-right: -5px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml25 {
  margin-left: 25px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.text-primary {
  color: #4bbbfa !important;
}
.text-success {
  color: #70d445 !important;
}
.text-info {
  color: #2db7f5 !important;
}
.text-warning {
  color: #ff8a0c !important;
}
.text-danger {
  color: #e83d2c !important;
}
.text-gray {
  color: #d3dce6 !important;
}
.link-white {
  color: #fff !important;
}
.tac {
  text-align: center !important;
}
.tal {
  text-align: left !important;
}
.tar {
  text-align: right !important;
}
.text-sm {
  font-size: 12px !important;
}
.text-md {
  font-size: 14px !important;
}
.text-lg {
  font-size: 16px !important;
}
.text-xlg {
  font-size: 18px !important;
}
.fs10 {
  font-size: 10px !important;
}
.fs12 {
  font-size: 12px !important;
}
.fs13 {
  font-size: 13px !important;
}
.fs14 {
  font-size: 14px !important;
}
.fs15 {
  font-size: 15px !important;
}
.fs16 {
  font-size: 16px !important;
}
.fs18 {
  font-size: 18px !important;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.block{
  display: block;
}
.btn-danger{
  background-color: #ff4949;
  color: #fff;
}
